<ion-app>
	<!-- <ion-split-pane contentId="main-content"> -->
	<ion-menu contentId="main-content" side="start" type="overlay">
		<ion-content>
			<ion-header>Wok Sales</ion-header>
			<ion-list id="menu-list">
				<ion-menu-toggle
					auto-hide="false"
					*ngFor="let p of appPages; let i = index"
				>
					<ion-item
						routerDirection="root"
						[routerLink]="[p.url]"
						lines="none"
						detail="false"
						routerLinkActive="selected"
					>
						<ion-label>{{ p.title }}</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-router-outlet id="main-content"></ion-router-outlet>
	<!-- </ion-split-pane> -->
</ion-app>
