<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>sales-history</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list inset="true">
		<ion-list-header>
			<ion-row>
				<ion-col>Date</ion-col>
				<ion-col>Invoice Number</ion-col>
				<ion-col>Order Total</ion-col>
				<ion-col>Payment Total</ion-col>
			</ion-row>
		</ion-list-header>
		<ion-accordion-group>
			<ion-accordion value="history">
				<ion-item slot="header">
					<ion-grid>
						<ion-row>
							<ion-col>2022/05/01</ion-col>
							<ion-col>25</ion-col>
							<ion-col>450</ion-col>
							<ion-col>450</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
				<ion-list slot="content">
					<ion-grid>
						<ion-row>
							<ion-col>Table Number</ion-col>
							<ion-col></ion-col>
						</ion-row>
						<ion-row>
							<ion-col>Mobile Number</ion-col>
							<ion-col>0123465789</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>Payment Method</ion-col>
							<ion-col>EFT</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>Tips</ion-col>
							<ion-col>40</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>Delivery Fee</ion-col>
							<ion-col>0.00</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>Server Name</ion-col>
							<ion-col>Carly</ion-col>
						</ion-row>
					</ion-grid>
				</ion-list>
			</ion-accordion>
		</ion-accordion-group>
	</ion-list>
</ion-content>