<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Daily Summary</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-margin">
		<ion-grid>
			<ion-row>
				<ion-col># Orders</ion-col>
				<ion-col>{{ sales.getTotalNumberOrders() }}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>Total EFT</ion-col>
				<ion-col>R{{ sales.getTotalEFT() | number: '.2' }}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>Total Cash</ion-col>
				<ion-col>R{{ sales.getTotalCash() | number: '.2' }}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>Total Credit Card</ion-col>
				<ion-col>R{{ sales.getTotalCard() | number: '.2' }}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>Final Total</ion-col>
				<ion-col>R{{ sales.getFinalTotal() | number: '.2' }}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>Total Delivery Fees</ion-col>
				<ion-col
					>R{{ sales.getTotalDeliveryFees() | number: '.2' }}</ion-col
				>
			</ion-row>
			<ion-row>
				<ion-col>Total Tips</ion-col>
				<ion-col>R{{ sales.getTotalTips() | number: '.2' }}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col># Servers</ion-col>
				<ion-col>{{ sales.getServers().length }}</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<ion-list inset="true">
		<ion-accordion-group>
			<ng-container *ngFor="let server of servers">
				<ion-accordion>
					<ion-item slot="header">
						<ion-label>{{ server }}</ion-label>
					</ion-item>

					<ion-list slot="content">
						<ion-grid>
							<ion-row>
								<ion-col># Orders</ion-col>
								<ion-col
									>{{ sales.getSalesByServer(server).length
									}}</ion-col
								>
							</ion-row>
							<ion-row>
								<ion-col>Order Total</ion-col>
								<ion-col
									>R{{ sales.getTotalOrdersByServer(server) |
									number: '.2' }}</ion-col
								>
							</ion-row>
							<ion-row *ngIf="server !== 'Collection'">
								<ion-col>Commission</ion-col>
								<ion-col
									>R{{ sales.getCommissionByServer(server) |
									number: '.2' }}</ion-col
								>
							</ion-row>
							<ion-row>
								<ion-col>Delivery Fee Total</ion-col>
								<ion-col
									>R{{
									sales.getTotalDeliveryFeesByServer(server) |
									number: '.2' }}</ion-col
								>
							</ion-row>
							<ion-row>
								<ion-col>Tips</ion-col>
								<ion-col
									>R{{ sales.getTotalTipsByServer(server)
									}}</ion-col
								>
							</ion-row>
							<ion-row>
								<ion-col>Final Total</ion-col>
								<ion-col
									>R{{ sales.getFinalTotalByServer(server)
									}}</ion-col
								>
							</ion-row>
						</ion-grid>
					</ion-list>
				</ion-accordion>
			</ng-container>
		</ion-accordion-group>
	</ion-list>
</ion-content>
