.edit-icon {
	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244, 245, 248;
	--ion-color-light-contrast: #f4f5f8;
	--ion-color-light-contrast-rgb: 244, 245, 248;
	--ion-color-light-shade: #f4f5f8;
	--ion-color-light-tint: #f4f5f8;
}

.vertical-text {
	display: flex;
	align-items: center;
}